<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Teacher_account.css' %}">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="teacheraccount">Home</a>
        <a class="navbar-brand" href="addsubject">Add Subject</a>
        <a class="navbar-brand" href="addclass">Add Class</a>
        <div class="navbar-nav ml-auto">
            <a class="navbar-brand" href="logout">Logout</a>
        </div>
    </nav>
    <div class="sidenav">
        <a href="newstudent">New Student Account</a>
        <a href="allstudent">All Student</a>
        <a href="select">Add Attendance</a>
    </div>
    <div class="form2">
        <table style="width:100%">
            <tr>
                <th><b><h2 class="color_red">Name</h2></b></th>
                <th><b><h2 class="color_red">User Id</h2></b></th>
                <th><b><h2 class="color_red">Subject</h2></b></th>
                <th><b><h2 class="color_red">Class</h2></b></th>
                <th><b><h2 class="color_red">E-mail Id</h2></b></th>
                <th><b><h2 class="color_red">Delete</h2></b></th>
            </tr>
            {% for i in datas %}
            <tr>
                <td><h4>{{ i.first_n }} {{ i.last_n }}</h4></td>
                <td><h4>{{ i.userid }}</h4></td>
                <td><h4>{{ i.subject }}</h4></td>
                <td><h4>{{ i.class_c }}</h4></td>
                <td><h4>{{ i.email_id }}</h4></td>
                <td><a class="btn btn-danger btn-lg" href="{% url 'delete' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
